/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"); */

/* @font-face {
  font-family: "TIDO";
  src: url("/fonts/TIDO\ B.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "TIDO";
  src: url("/fonts/TIDO\ L.otf") format("opentype");
  font-weight: large;
}

@font-face {
  font-family: "TIDO";
  src: url("/fonts/TIDO\ R.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "BIXIE";
  src: url("/fonts/BIXIE-Regular.ttf") format("opentype");
  font-weight: normal;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
